* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  height: 100vh;
  background-color: #4353ff;
  position: relative;
}
main > div {
  width: 380px;
  transform: translate(-50%, -50%) rotateX(55deg) rotateY(-3deg) rotateZ(49deg);
  position: absolute;
  top: 50%;
  left: 50%;
}
main > div > header {
  background-color: #b4baff;
  width: 100%;
  height: 24px;
  margin-bottom: 2px;
  border-radius: 12px 12px 0 0;
  position: relative;
  display: flex;
}
main > div > header > span {
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
  display: block;
  margin: 9px 0 9px 20px;
  position: relative;
}
main > div > header > span::before, main > div > header > span::after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
}
main > div > header > span::before {
  left: -200%;
}
main > div > header > span::after {
  left: 200%;
}
main > div > header > div {
  width: 80px;
  height: 80px;
  top: -66px;
  left: 40px;
  position: absolute;
  perspective: 800px;
  transform: translate(0, 0);
  transition: 0.4s ease;
}
main > div > header > div > div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(213, 216, 255, 0.8);
  transform: translate3d(0px, 0px, 10px);
  background-image: linear-gradient(315deg, hsla(0, 0%, 100%, 0.22), hsla(0, 0%, 100%, 0));
  position: absolute;
  left: -23px;
  top: -4px;
  margin: 0 auto;
  z-index: 5;
}
main > div > header > div > div:nth-of-type(2) {
  left: -6px;
  top: 10px;
  z-index: 4;
  transform: translate3d(0px, 0px, 10px);
}
main > div > header > div > div:nth-of-type(3) {
  transform: translate3d(0px, 0px, 0px);
  left: 10px;
  top: 23px;
  z-index: 3;
  background-color: transparent;
  background-image: linear-gradient(180deg, #5d6bff, hsla(0, 0%, 100%, 0.76));
  box-shadow: 23px 19px 0 0 rgba(67, 83, 255, 0.26);
}
main > div > header > div:hover {
  transform: translate(-4px, -4px);
}
main > div > section {
  width: 100%;
  height: 730px;
  background: linear-gradient(159deg, #9aa3ff, #4353ff 77%);
  display: flex;
}
main > div > section > aside {
  width: 40%;
  height: 100%;
  position: relative;
}
main > div > section > aside > * {
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bolder;
  line-height: 8px;
}
main > div > section > aside > p {
  width: 65%;
  margin: 30px auto;
  display: flex;
  text-align: justify;
}
main > div > section > aside > div:nth-of-type(1) {
  width: 140px;
  height: 140px;
  margin-left: -15px;
  perspective: 800px;
  transform: translate(0, 0);
  transition: 0.5s ease;
}
main > div > section > aside > div:nth-of-type(1) > div {
  width: 70px;
  height: 70px;
  border-radius: 0 3px 3px 3px;
  transform: translate3d(0px, 0px, 20px);
  background-image: linear-gradient(135deg, rgba(116, 129, 255, 0.7), rgba(166, 173, 255, 0.7));
  position: absolute;
  left: -38px;
  top: -14px;
  margin: 0 auto;
  z-index: 5;
  border: 2px solid #fff;
  transition: 0.5s ease;
}
main > div > section > aside > div:nth-of-type(1) > div:nth-of-type(1) {
  display: flex;
}
main > div > section > aside > div:nth-of-type(1) > div:nth-of-type(1)::before {
  content: "";
  background-color: #fff;
  width: 35%;
  height: 5px;
  border-radius: 3px 3px 0 0;
  position: absolute;
  top: -6px;
  left: -1.5px;
}
main > div > section > aside > div:nth-of-type(1) > div:nth-of-type(1) > a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  overflow: hidden;
  position: relative;
}
main > div > section > aside > div:nth-of-type(1) > div:nth-of-type(1) > a > .material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
  color: white;
  font-size: 36px;
  line-height: 60px;
  left: -100%;
  transform: translateX(-50%);
  position: absolute;
  animation: enter 2s forwards infinite;
}
main > div > section > aside > div:nth-of-type(1) > div:nth-of-type(2) {
  background-color: rgba(178, 185, 255, 0.7);
  left: -16px;
  top: 5px;
  z-index: 4;
  transform: translate3d(0px, 0px, 20px);
  border: none;
}
main > div > section > aside > div:nth-of-type(1) > div:nth-of-type(3) {
  border: none;
  transform: translate3d(0px, 0px, 10px);
  left: 6px;
  top: 24px;
  z-index: 3;
  background-color: transparent;
  background-image: linear-gradient(315deg, #929bff, #828dff);
  box-shadow: 23px 19px 0 0 rgba(67, 83, 255, 0.26);
}
main > div > section > aside > div:nth-of-type(1):hover > div:nth-of-type(1) {
  left: -46px;
  top: -22px;
}
main > div > section > aside > div:nth-of-type(1):hover > div:nth-of-type(2) {
  left: -20px;
  top: 1px;
}
main > div > section > aside > div:nth-of-type(1):hover > div:nth-of-type(3) {
  left: 4px;
  top: 22px;
  box-shadow: 22px 18px 0 0 rgba(67, 83, 255, 0.26);
}
main > div > section > aside > div:nth-of-type(2) {
  width: 65%;
  margin: 0 auto;
  height: 200px;
  background-image: linear-gradient(185deg, #7782ff, rgba(99, 112, 255, 0) 86%);
  transform: translate(0, 0);
  transition: 0.5s ease;
}
main > div > section > aside > div:nth-of-type(2):hover {
  transform: translate(-4px, -4px);
}
main > div > section > aside > span {
  margin: 50px auto;
  display: block;
  width: 60%;
  transform: translate(0, 0);
  transition: 0.5s ease;
}
main > div > section > aside > span:hover {
  transform: translate(-4px, -4px);
}
main > div > section > section {
  width: 60%;
  height: 100%;
  position: relative;
}
main > div > section > section > .img {
  width: 60%;
  height: 100px;
  top: -51px;
  overflow: hidden;
  left: 10%;
  background-image: linear-gradient(315deg, rgba(232, 235, 255, 0.9), #b4baff);
  box-shadow: 29px 29px 0 6px rgba(107, 119, 255, 0.8);
  position: absolute;
  perspective: 800px;
}
main > div > section > section > .img::before, main > div > section > section > .img::after {
  content: "";
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
  position: absolute;
  top: 65%;
  border-radius: 5px;
}
main > div > section > section > .img::before {
  background-image: linear-gradient(180deg, #dee2ff, #b6bdff);
  left: -20px;
  top: 75%;
}
main > div > section > section > .img::after {
  background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0.7), rgba(182, 189, 255, 0.66) 51%);
  left: 20px;
  top: 65%;
}
main > div > section > section > span {
  position: absolute;
  top: 70px;
  left: 40%;
  color: white;
  font-weight: bolder;
}
main > div > section > section > span::before {
  content: "";
  width: 2px;
  height: 26px;
  position: absolute;
  top: -22px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
}
main > div > section > section > .slider {
  width: 80%;
  margin: 120px auto 50px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
main > div > section > section > .slider > div {
  width: 30%;
  border-radius: 5px;
  height: 80px;
  background-color: #bcc1ff;
  box-shadow: 11px 11px 0 0px #5e6bff;
  transform: translate(0, 0);
  transition: 0.4s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main > div > section > section > .slider > div:hover {
  transform: translate(-4px, -4px);
}
main > div > section > section > .slider > div::before {
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 2px solid white;
}
main > div > section > section > .slider > div > span {
  line-height: 8px;
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 50%;
  font-weight: bolder;
  font-size: 20px;
}
main > div > section > section > section {
  width: 80%;
  display: flex;
}
main > div > section > section > section > ul {
  list-style: none;
  width: 30%;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  animation: rise 4s infinite;
  margin-left: 15px;
}
main > div > section > section > section > ul > li {
  width: 24px;
  height: 24px;
  border-radius: 1px;
  background-color: #d9ddff;
  box-shadow: 11px 11px 0 -1px #5b69ff;
}
main > div > section > section > section > ul > li:nth-of-type(2) {
  position: relative;
}
main > div > section > section > section > ul > li:nth-of-type(2)::before, main > div > section > section > section > ul > li:nth-of-type(2)::after {
  content: "";
  width: 1px;
  height: 24px;
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #d9ddff;
}
main > div > section > section > section > ul > li:nth-of-type(2)::after {
  top: 100%;
}
main > div > section > section > section > article {
  width: 70%;
  height: 200px;
  transform: translate(0, 0);
  transition: 0.4s ease;
}
main > div > section > section > section > article:hover {
  transform: translate(-4px, -4px);
}
main > div > section > section > section > article > * {
  width: 100%;
  height: 33.3333%;
  margin: 5px auto;
}
main > div > section > section > section > article > p {
  margin: 0px 30px 30px 25px;
  color: white;
  line-height: 8px;
  font-weight: bolder;
  font-size: 20px;
  width: 80%;
}
main > div > section > section > section > article > figure,
main > div > section > section > section > article > .extra {
  transform: translate(0, 0);
  transition: 0.4s ease;
  width: 70%;
  margin-left: 25px;
}
main > div > section > section > section > article > figure:hover,
main > div > section > section > section > article > .extra:hover {
  transform: translate(-4px, -4px);
}
main > div > section > section > section > article > figure {
  background-image: linear-gradient(315deg, rgba(232, 235, 255, 0.9), #b4baff);
  position: relative;
  overflow: hidden;
}
main > div > section > section > section > article > figure::after, main > div > section > section > section > article > figure::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 5px;
  rotate: 45deg;
  position: absolute;
  bottom: -60%;
}
main > div > section > section > section > article > figure::before {
  background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0.7), rgba(182, 189, 255, 0.66) 51%);
  left: 25px;
  z-index: 2;
}
main > div > section > section > section > article > figure::after {
  background-image: linear-gradient(180deg, #dee2ff, #b6bdff);
  left: -1px;
}
main > div > section > section > section > article > .extra {
  margin-top: 20px;
  background-image: linear-gradient(315deg, rgba(232, 235, 255, 0.9), #b4baff);
}
main > footer {
  width: 150px;
  height: 150px;
  position: absolute;
  bottom: 20px;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main > footer > div {
  width: 100%;
  height: 100%;
  background-color: #707cff;
  border-radius: 33% 67% 32% 68%/32% 28% 72% 68%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: format 10s ease-in-out infinite alternate;
}
main > footer > div > figure {
  width: 95%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
main > footer > div > figure > img {
  animation: format2 10s ease-in-out infinite alternate;
  width: 100%;
  height: 100%;
  z-index: 2;
}
main > footer > div > figure > figcaption {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main > footer > div > figure > figcaption > a {
  text-decoration: none;
  color: #4353ff;
  font-size: 18px;
  width: 60px;
  height: 30px;
  transform: translateX(0) translateY(0);
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
main > footer > div > figure > figcaption > a:nth-of-type(1) {
  transition-delay: 0;
}
main > footer > div > figure > figcaption > a:nth-of-type(2) {
  transition-delay: 0.2s;
}
main > footer > div > figure > figcaption > a:nth-of-type(3) {
  transition-delay: 0.4s;
}
main > footer > div > figure > figcaption > a:nth-of-type(4) {
  transition-delay: 0.6s;
}
main > footer > div > figure:hover > figcaption > a {
  transform: translateX(-100px) translateY(0);
  color: white;
}

@keyframes enter {
  0% {
    left: -100%;
  }
  15% {
    left: 70%;
  }
  16% {
    left: 50%;
  }
  84% {
    left: 50%;
  }
  85% {
    left: 30%;
  }
  100% {
    left: 120%;
  }
}
@keyframes rise {
  10% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(-4px, -4px);
  }
  70% {
    transform: translate(-4px, -4px);
  }
  90% {
    transform: translate(0, 0);
  }
}
@keyframes format {
  0% {
    border-radius: 51% 49% 37% 63%/63% 60% 40% 37%;
  }
  25% {
    border-radius: 68% 32% 59% 41%/63% 60% 40% 37%;
  }
  50% {
    border-radius: 49% 51% 69% 31%/40% 50% 50% 60%;
  }
  75% {
    border-radius: 58% 42% 47% 53%/66% 56% 44% 34%;
  }
  100% {
    border-radius: 40% 60% 62% 38%/56% 40% 60% 44%;
  }
}
@keyframes format2 {
  0% {
    border-radius: 52% 48% 41% 59%/35% 40% 60% 65%;
  }
  25% {
    border-radius: 68% 32% 52% 48%/55% 48% 52% 45%;
  }
  50% {
    border-radius: 58% 42% 37% 63%/40% 65% 35% 60%;
  }
  75% {
    border-radius: 45% 55% 55% 45%/58% 48% 52% 42%;
  }
  100% {
    border-radius: 68% 32% 59% 41%/63% 60% 40% 37%;
  }
}/*# sourceMappingURL=master.css.map */